.wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 16px;
    width: 50%;
    position: relative;
}

.figure {
    display: flex;
    justify-content: center;
}

.priceLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.nameLabel {
    text-align: center;
}

.count {
    position: absolute;
    right: 12px;
    top: 12px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 128, 47);
    border-radius: 9999px;
    color: #fff;
}
