.wrap {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 50%;
}

.figure {

}

.figureImage {

}

.priceLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.nameLabel {
    text-align: center;
}