.wrap {
    border-radius: 24px;
    background-color: var(--modal-bg);
    padding: 40px 40px 60px;
    width: 640px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.—Ålose {
    display: block;
    background-color: transparent;
    cursor: pointer;
}
