.wrap {
    --padding-x: 40px;
    --padding-y: 40px;

    position: relative;
    border-radius: 24px;
    background-color: var(--modal-bg);
    padding: var(--padding-y) var(--padding-x) 60px;
    width: 640px;
}

.сlose {
    display: block;
    background-color: transparent;
    cursor: pointer;
}

.closeWrap {
    position: absolute;
    right: var(--padding-x);
    top: var(--padding-y)
}
