:root {
    --header-h: 72px;
    --nav-tab-h: 100px;
    --options-h: 160px;
    --grid-gap-x: 40px;
}

.html,
body {
    height: 100%;
}

body{
    position: relative;
}

.App {
    width: fit-content;
    margin: auto;
}

.app-grid {
    display: flex;
    align-items: flex-start;
    height: calc(100% - var(--header-h));
    column-gap: var(--grid-gap-x);
}

.app-grid > * {
    width: calc(50% - calc(0.5 * var(--grid-gap-x)));
    height: 100%;
}

.page-wrap {
    height: 100vh;
    width: 100%;
}

.page-wrap._centered {
    display: flex;
    align-items: center;
    justify-content: center;
}


.page-content {
    position: relative;
}

._page-icon-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}