._created {
    color: rgb(48, 146, 47);
}

._pending {
    color: rgb(121, 212, 209);
}

._done {
    color: rgb(174, 174, 177);
}

._cancelled {
    color: rgb(146, 48, 47);
}

._text-shadow-blue {
    text-shadow: 0 0 12px rgb(68, 47, 185);
}
