* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.button {
    display: flex;
    align-items: center;
    column-gap: 16px;
}